@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swapp');

:root {
    --primary-color: #87CBAC;
    --secondary-color: #0B3142;
    --accent1-color: #0F5257;
    --accent2-color: #8AC4FF;
    --heading-font: 'Rock Salt', serif;
    --paragraph-font: 'Ubuntu Sans Mono', monospace;
    --nav-background-color: #87CBAC;
    --nav-link-color: #0B3142;
    --nav-hover-link-color: #0F5257;
    --nav-hover-background-color: #8AC4FF;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    display: grid;
    grid-template-columns: 400px 800px 100px;
	align-items: center;
	border-bottom: 2px solid #ccc;
	max-width: 1000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 300px;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav {
    font-size: 1.5rem;
    display: flex;
    background-color: var(--nav-background-color);
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    padding: 3rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
	font-weight: 550;
}

p {
    font-family: var(--paragraph-font)
}

section img {
    display: block;
}

article img {
    float: right;
    padding: 20px;
    max-width: 160px;
}

article {
    position: absolute;
    top: 200px;
    right: 400px;
    background-color: var(--nav-background-color);
    opacity: 0.98;
}

article p {
    padding: 20px;
    text-align: center;
}


/* Class Selectors */


.sociallinks a {
    text-decoration: none;
}

.sociallinks {
    display: flex;
    height: 80px;
    max-width: 100%;
    font-size: 20px;
    background-color: var(--nav-background-color);
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.sociallinks p {
    position: absolute;
    left: 500px;
}

.sociallinks img {
    padding: 5px;
    margin-right: 10px;
}

.history {
    display: flex;
    background-color: var(--nav-background-color);
    width: 800px;
    height: auto;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}

.history h2 {
    color: var(--nav-link-color);
    margin-top: 1px;
}

.history section {
    display: block;
    gap: 50px;
    padding: 20px;
	align-items: center;
    justify-content: center;
    text-align: center;
}

.fiveimages {
    display: flex;
    justify-content: center;
    border-top: 2px solid rgba(0,0,0,.3);
    margin-bottom: 50px;
}

.fiveimages img {
    width: 150px;
    height: auto;
}

.h2move {
    text-align: center;
    background-color: var(--nav-background-color);
}

.h2move h2 {
    color: var(--nav-link-color);
    margin-top: 50px;
}

.hero h1 {
    position: absolute;
    top: 80px;
    right: 550px;
    z-index: 99;
    color: var(--nav-link-color);
    background-color: rgba(123, 234, 171, 0.9);
}

.hero {
    position: relative;
    display: grid;
    align-items: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 90%;
    padding: 10px;
}